*.session
__pycache__/
*.session-journal
tempCodeRunnerFile.py
pyrogram.session
pyrogram_session.session
.git
.restartmsg
*.json
*.pickle
*.pyc
.netrc
.vscode
/bot_log.txt
/t.py
/t1.py
/t2.py
/t3.py
/t4.py
/t5.py
/t6.py
config.env
rclone.conf